@import "variables.less";
@import "mixins.less";

.rotate(@degree){
	-moz-transform:rotate(@degree);
	-ms-transform:rotate(@degree);
	-o-transform:rotate(@degree);
	transform:rotate(@degree);
	-webkit-transform:rotate(@degree);
}
body{
	width: 100%;
}
.topic.row{
	width: auto;
	display: block;
	.section{
		width: 100%;
		margin: 0;
    }
   	.next{
   		display: none;
   	}
}
nav{
	position: fixed;
	margin-top: 0;
	float: none;
	background-color: @grayDark;
	h1{
		font-size: 1.5em;
		color: #fff;
		display: block;
		float: left;
		line-height: 1.5em;
		padding: 0;
		margin: 0 0 0 2em;
	}
	#addtopic{
		margin: 0 0em;
		font-size: 1em;
		border-bottom: 1px @grayDark - 30 solid;
	}
	#newtopic{
		font-size: 1em;
		display: block;
		text-align: left;
		box-sizing: border-box;
		width: 100%;
		padding: 1em 0.5em;
		float: none;
		background-color: @grayDark;
		border-radius: 0;
	}
	#newtopic:focus{
		background-color: @grayDark - 30;
		width: 100%;
	}
	.nav{
		top: -200px;
/* 		display: none; */
	}
	li{
		display: block;
		width: 100%;
		float: none;
		border-top: 1px @grayDark + 30 solid;
		border-bottom: 1px @grayDark - 30 solid;
	}
	li:last-child{
		border-bottom: none;
	}
	#menuhandle{
		padding: 0 1em;
		text-align: center;
		border-top: 1px @gray + 30 solid;
		border-bottom: 1px @gray - 60 solid;
		.box-shadow(0 -2px 5px rgba(0,0,0,.25));
		.gradientBar(@gray - 30 , @gray - 10);
		a{
			color: @white;
			display: block;
			width: 100%;
			padding: 0.5em 0;
		}
	}
}

#overlay{
	display: none;
}
#logowide{
	display: none;
}

/* Dots */


#dots{
	margin: 0.4em;
	text-align: right;
	.dot {
		display: inline-block;
		background-color: @grayDark + 10;
		border-radius: 50%;
		width: 7px;
		height: 7px;
		margin: 0 3px;
	}
	.dot.active{
		background-color: @gray - 20;		
	}
	
}

/* Overlay */
#textwrapper{
	position: absolute;
	height: auto;
	.bg{
		background-color: #f1f1f1;	
	}
}
#text {
	width: 100%;
	height: auto;
	overflow-x: hidden;
	position: absolute;
	border: none;
	box-shadow: none;
	.content{
		margin: 1em 0;
		padding: 1em 0.5em;
	}

}
#closelinkwrapper{
    border-color: #000 #000 #fff #fff;
    border-style: solid;
    border-width:1.5em;
    width:0;
    height:0;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
	cursor: pointer;
}
#closelink{
	display: block;
	position: absolute;
	margin-top: -1em;
	margin-right: -1em;
	top: 0;
	right: 0;
}
