@import "layout.less";
@import "variables.less";
@import "mixins.less";
@import "type.less";
@import "responsive.css";


body {
	font-family:"Lato","Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: @white;
	padding-top: 40px;
}

.transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.item-main-content, .item-main-content a{
	font-weight: 400;
}

li:hover {
	text-decoration: none;
}

a{
	text-decoration: none;
	.transition(color 0.5s ease);
}
a:hover{
	color: @accent;
	text-decoration: none;
}

.topics.show{
	opacity: 1;
}
.topics{
	opacity: 0;
	transform: translate(0, -100px);
	.transition(1s all ease);
}
.topic.show h2{
	opacity: 1;
}
.topic{
	h2{
		margin-top: 0em;
		opacity: 0;
		.transition(0.5s all ease);
		transform: translate(0, -100px);
	}
	transform: translate(0, 100px);
	margin-bottom: 5em;
	.section{
		display: none;
		margin-top: 2em !important;
		opacity: 0;
		.transition;
	}
	.section.show{
		margin-top: 0px !important;
		opacity: 1;
		display: block;
	}
	h2{
		position: relative;
		text-align: center;
		font-weight: 900;
		letter-spacing: 0.6em;
		text-transform: uppercase;
		border-bottom: .15em @grayDark solid;
		padding-bottom: .3em;
		margin-bottom: .55em;
	}
	a {
		color: @gray - 20;
	}
	a.black {
		color: @grayDark;
	}
	a.small {
		display: inline-block;
		margin-bottom: 12px;
		font-size: 11px;
		color: @gray + 30;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	a.small:hover{
		color: @accent;
	}
	a.black:hover {
		color: @accent;
	}
	.headericon{
		background-image: url('../img/icons.png');
		width: 60px;
		height: 60px;
		margin: 0 auto 0.25em;
	}

	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		.headericon {
			background-image: url('../img/icons2x.png');
			background-size: 60px 180px;
			-webkit-background-size: 60px 180px;
		}
	}
	.tweets {
		.headericon{
			background-position: 0px 60px;
		}
	}
	.blogs {
		.headericon{
			background-position: 0px 0px;
		}
	}
	.news {
		.headericon{
			background-position: 0px 120px;
		}
	}
	.section {
		padding-bottom: 2em;
	}
}

.header{
	font-size: 1.25em;
	text-transform: uppercase;
	color: @grayLight + 10;
	line-height: 2em;
	letter-spacing: 0.4em;
	display: block;
}

header {
		float: left;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 200;
		background-color: @grayDark + 10;
		padding: 5px 0;
		.box-shadow(0 0 5px rgba(0,0,0,0.4));
	nav {
		input {
			float: left;
		}
		a{
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		ul{
			list-style: none;
			margin: 0;
		}
		li {
			list-style: none;
			font-weight: bolder;
			float: left;
			padding-left: 0;
			border-left: none !important;
			font-size: 0.8em;
			display: block;
			a {
				color: @white;
				display: block;
				padding: 0.85em 1em;
			}
			a:hover{
				color: #eee;
			}
		}
		li.active a{
			background-color: @black;
		}
	}
}
#newtopic{
	background-color: @grayDark;
	color: #fff;
	padding: 0.55em 1em;
	margin: 0.3em;
	font-size: 0.75em;
	border: 1px @grayDark + 30 solid;
	border-radius: 3em;
	height: 1em;
	width: 10em;
	outline: none;
	-moz-outline: none;
	.transition;
}
#newtopic:focus {
	box-shadow: inset 1px 2px 7px #333;

}

footer {
	background-color: @white - 15;
	border-top: 1px @grayLight + 20 solid;
	color: @grayLight;
	.center{
		height: 100%;
	}
	p {
		font-size: 1.25em;
	}
	a {
		color: @accent;
		font-weight: 900;
	}
}
#logowide{
	display: block;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	background-color: @white - 15;
	border: 1px @grayLight + 20 solid;
	border-bottom: none;
	.border-radius-top;
	background-image: url(../img/logowide.png);
	background-repeat: no-repeat;
	background-position: 20px 10px;
	background-size: 100px auto;
	height: 30px;
	width: 90px;
	margin-left: 30px;
	padding: 10px 30px;
}
#about p{
	font-size: 1.25em;
	line-height: 1.25em;
}
p.twitterlink {
	margin-top: 20px;
	a{
		background-image: url('../img/icons.png');
		width: 60px;
		height: 60px;
		background-position: 0 60px;
		display: block;
		margin: 10px auto;
	}	
}
.headericon {
	color: @grayDark;
	text-align: center;
	display: block;
	font-size: 5em;
	font-family: Social;
}

#overlay {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2000;
	top:0;
	text-align: center;
	#logo {
		width: 300px;
		margin: 0 auto;
		margin-top: 100px;
		height: auto;
	}

}

input::-webkit-input-placeholder, input::-moz-placeholder {
	color:#fff !important;
}

#textwrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	display: none;
	z-index: 2000;
	.bg{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		z-index: -10;
	}
}
#text {
	width: 700px;
	height: 100%;
	margin: 0 auto;
	background-color: #fffeea;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.9);
	overflow-y: auto;
	border: 1px #ddd solid;
	z-index: 10;
	.content{
		padding: 0 3em;
		margin: 4em auto;
		color: #443731 !important;
		font-family: "Georgia", serif;
		line-height: 1.67em;
		font-size: 1.125em;
		white-space: pre-wrap;
		.origlink {
			margin-top: -0.5em;
			margin-bottom: 1em;
			a{
				color: #999;
				font-size: 0.75em;
			}
		}
		p{
			font-size: 1em;
			line-height: 1.5em;
		}
	}
}
/*Animation*/
.animation {
	display: block;
	margin: 20px auto;
	width: 30px;
	height: 30px;
	background-image: url('../img/animation.gif');
	background-size: 30px;
	padding: 6px 0 0 40px;
	background-repeat: no-repeat;
/*
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	*/
	.circle {
		background-color: rgba(0,0,0,0.4);
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		display: block;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		-webkit-animation-name: animation;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: linear;
		-moz-animation-name: animation;
		-moz-animation-duration: 1.5s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: linear;
	}
	.one{
		background-color: rgba(0,0,0,0.3);
	}
	.two{
		-webkit-animation-delay: 1s;
		-moz-animation-delay: .5s;
	}
}

@-webkit-keyframes animation{
	0%{-webkit-transform: scale(1);opacity:1;}
	70%{-webkit-transform: scale(0.1);opacity:0.1;}
	100%{-webkit-transform: scale(1);opacity:1;}
}
@-moz-keyframes animation{
	0%{-moz-transform: scale(1);opacity:1;}
	50%{-moz-transform: scale(0.7);opacity:0.1;}
	100%{-moz-transform: scale(1);opacity:1;}
}
