html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
@font-face{font-family:'Rokkitt';src:url('Rokkitt-Bold.ttf');}.transition{-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;transition:all 0.3s linear;}
body{background:url('./img/bg.png');background-color:#ece8e1;font-family:'Rokkit','Rockwell Std',serif;text-shadow:0 1px 0 #fff;color:#444;}
a{color:#111;text-decoration:none;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;transition:all 0.3s linear;}
a:hover{color:#666;}
#logo{width:300px;height:auto;margin:0 auto;}
section{text-align:center;float:none;display:block;clear:both;width:100%;margin-top:100px;}
h1{font-size:4em;margin-bottom:0.25em;margin-top:0.25em;}
